@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.about-box {
    background-color: rgb(127, 37, 168);
    padding: 20px;
    height:fit-content;
}

/* Common styles for title */
.about-title {
    color: white;
    text-align: center;
    font-size: 2rem;
    padding: 5px;
}

/* Image styles */
.about-img img {
    width: 100%;
    max-width: 900px;
    border-radius: 25px;
    padding: 5px;
    display: block;
    margin: auto;
    height:390px;
}

/* Common paragraph styles */
.about-data p {
    text-align: justify;
    color: white;
    padding: 2px;
}

/* Mobile View (default) */
.about-data {
    display: grid;
    grid-template-columns: 0.5fr;
    gap: 10px;
}

.about-data p {
    margin: 0 16px;
    font-size: 13px;
}

/* Tablet View */
@media screen and (min-width: 600px) {
    .about-data p {
        margin: 0 30px;
        font-size: 14px;
    }
}

/* Desktop View */
@media screen and (min-width: 1024px) {
    .about-data {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 40px;
    }

    .about-data p {
        margin: 0 50px;
        font-size: 15px;
        color: rgb(220, 225, 219);
    }
}
