/* === Base Header Styles === */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    top: 0;
  }
  
  .logo-nav a {
    font-size: 20px;
    color: rgb(123, 42, 209);
    font-weight: 800;
    text-decoration: none;
  }
  
  .logo-nav a:hover {
    color: rgb(166, 29, 208);
    transition: all ease 0.5s;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 20px; /* Spacing between input and nav */
    flex-grow: 1;
    justify-content: flex-end;
    max-width: 100%;
  }
  
  .search-input {
    flex: 1;
    max-width: 300px;
    height: 40px;
    outline: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid rgb(48, 14, 62);
  }
  
  .nav-options {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .option {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: rgb(123, 42, 209);
  }
  
  .option a {
    color: rgb(123, 42, 209);
    font-weight: 800;
    font-size: 18px;
    text-decoration: none;
  }
  
  .option a:hover,
  .option:hover {
    color: rgb(166, 29, 208);
    transition: all ease 0.5s;
  }
  
  .mobile-menu {
    display: none;
  }
  
  /* === Responsive Adjustments === */
  @media (max-width: 768px) {
    .header {
      padding: 0 10px;
      justify-content: space-between;
    }
  
    .search-input {
      max-width: 180px;
    }
  
    .nav-options {
      flex-direction: column;
      width: 100%;
      height: auto;
      background-color: black;
      position: absolute;
      top: 60px;
      left: -100%;
      opacity: 0;
      transition: all 0.5s ease;
      z-index: 99;
    }
  
    .nav-options.active {
      left: 0;
      opacity: 1;
    }
  
    .option {
      padding: 20px 0;
      text-align: center;
      width: 100%;
    }
  
    .mobile-menu {
      display: block;
    }
  
    .menu-icon {
      width: 45px;
      height: 45px;
      color: rgb(233, 83, 75);
      padding: 2px;
      background-color: rgb(246, 233, 202);
      border-radius: 5px;
      cursor: pointer;
      margin-left: 10px;
    }
  }
  