.stats{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
    padding: 20px;
}

.stats-icon{
    align-items: center;
}

.stats-block{
    height: 170px;
    width: 150px;
    border-radius: 10px;
    margin: 25px;
    -webkit-box-shadow: 0px 4px 8px #01638B;
box-shadow: 0px 4px 8px #ade3f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}